:root{
    --font:'Poppins', sans-serif;
    --background-color:#FFFFFF;
    --primary-text-color:#8F95A5;
    --secondary-text-color:#000000;
    --thidrd-text-color:#FFFFFF;
    --logo-first-color:#000000;
    --logo-second-color:#939393;
    --skills-card-background-color:#F5F5F5;

}
h1,
h2,
h3,
h4,
p
{
    margin-top: 0;
    margin-bottom: 0;
}
ol,ul{
    margin: 0;
    list-style: none;
    padding: 0;
}
.link{text-decoration: none;}
.container{
    width:1380px;
    padding-left: 20px;
    padding-right:20px ;
    margin-left: auto;
    margin-right: auto;
}
.section{
padding-bottom:180px ;
}



img{display: block;}
button {  cursor: pointer;
    font-family:inherit;}

body {
    font-family: var(--font);
    color:var(--primary-text-color);
    font-size:20px;
    line-height: 1.5;
    background-color:var(--background-color) ;

}