:root {

    --font: 'Poppins', sans-serif;
    --background-color: #FFFFFF;
    --primary-text-color: #8F95A5;
    --secondary-text-color: #000000;
    --thidrd-text-color: #FFFFFF;
    --logo-first-color: #000000;
    --logo-second-color: #939393;
    --skills-card-background-color: #F5F5F5;


  --background-color: #ffffff;
  --primary-text-color: #8f95a5;
  --secondary-text-color: #000000;
  --thidrd-text-color: #ffffff;
  --logo-first-color: #000000;
  --logo-second-color: #939393;
  --skills-card-background-color: #f5f5f5;
  --dark-grey-color: #2A3246;


}

h1,
h2,
h3,
h4,
p {

    margin-top: 0;
    margin-bottom: 0;
}

ol,
ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

.link {
    text-decoration: none;
}

.container {
    width: 1380px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-bottom: 180px;

  margin-top: 0;
  margin-bottom: 0;
}
ol,
ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
}


.link {
  text-decoration: none;
}


.container {
  width: 1380px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

}
.section {
  padding-bottom: 180px;
}

img {
  display: block;
}
button {
  cursor: pointer;
  font-family: inherit;
}

body {
  font-family: var(--font);
  color: var(--primary-text-color);
  font-size: 20px;
  line-height: 1.5;
  background-color: var(--background-color);
}

.hero-title {
  margin-bottom: 40px;
  width: 386px;
  font-weight: 600;
  font-size: 64px;
  line-height: 1.25;
  color: var(--secondary-text-color);
}

.hero-text {
  margin-bottom: 60px;
  width: 540px;
  font-size: 24px;
  line-height: 1.5;

  color: var(--primary-text-color);
}

button {
  font-family: inherit;
  font-family: 36px;
  padding: 23px 64px;
  height: 100px;
  cursor: pointer;
  background-color: var(--secondary-text-color);
  color: #fff;
  border-radius: 10px;
  text-align: center;
  width: 426px;
  letter-spacing: 0.03em;
}

}

.section {
  padding-bottom: 180px;
}

img {

    display: block;
}

button {
    cursor: pointer;
    font-family: inherit;
}

body {
    font-family: var(--font);
    color: var(--primary-text-color);
    font-size: 20px;
    line-height: 1.5;
    background-color: var(--background-color);

}


/* Footer */

.footer .logo-first {
    color: var(--logo-first-color);
    font-size: 36px;
    text-decoration: none;
}

.footer .logo-second {
    color: var(--logo-second-color);
    font-size: 36px;
    text-decoration: none;
}

.footer .link {
    color: var(--primary-text-color);
    font-size: 24px;
    letter-spacing: 0.02em;
}

  display: block;
}

button {
  cursor: pointer;
  font-family: inherit;
}

body {
  font-family: var(--font);
  color: var(--primary-text-color);
  font-size: 20px;
  line-height: 1.5;
  background-color: var(--background-color);
}

/* Header */
/* Logo */

.logo {
  margin-right: 236px;

  font-size: 36px;
  display: flex;
  align-items: center;

  color: var(--logo-second-color);
}

.logo > span {
  color: var(--logo-first-color);
}


/* Navigation */

.header .container {
  display: flex;
  align-items: center;
  padding-top: 55px;
  padding-bottom: 55px;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list .item:not(:last-child) {
  margin-right: 50px;
}

.nav-list .link {
  font-weight: 500;

  color: #263238;
}

.header-btn {
  width: 312px;
  height: 70px;
  margin-left: auto;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
  background-color: var(--background-color);
  border: 2px solid #263238;
  border-radius: 10px;
}




/* section_alina */

.additional{
    padding: 20px;
}

.additional-title{
    color: var(--secondary-text-color);
    margin-bottom: 30px;
}

.additional-text{
    color: var(--primary-text-color);
    margin-bottom: 20px;
}

.additional-link:visited, .additional-link{
text-decoration: none;
color: var(--primary-text-color);
}

.additional-link:hover{
    color: var(--secondary-text-color);
}

.links{
    display: flex;
    gap: 30px;
}


/* About Us Сергій Колесник */

.section-about-us {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.5;
  color: var(--secondary-text-color);
}

.about-us-description {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.8;
  color: var(--primary-text-color);
}

.about-us-markers {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.5;
  color: var(--dark-grey-color);
}

.markers-description {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: var(--primary-text-color);
}


